*.map
*.mem
*.prof
/demos/
/raw_logs/
/exp/
.idea
*.DS_Store
/.mypy_cache/
/.python-version/
/.vscode
**/build/
/ninja-python-distributions
/pip-selfcheck.json
/rtldev/
/tensorflow/
**/__pycache__/
/super-linter.log
/super-linter.report/
/.version-check
/venv*/
/sdk/
